<div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to </strong>onnsen_base  !!</h1>
      <p>ここは新しい温泉を開拓したい人や温泉について情報収集したい人に向けた交流場所です。  </i><strong>温泉はすきかな？</strong></p>
      <p>温泉について情報共有しよう！特にマイナーで知らない人が多いような場所をみんなで語ろう！もちろん有名な場所も歓迎。全国のまだ知らない温泉について知るきっかけとなれたら嬉しいです！！</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="slider">
        <div class="slider-inner">
            <div class="slider-item"><img src="5039971_m.jp"></div>
            <div class="slider-item"><img src="22044504_m.jpg"></div>
            <div class="slider-item"><img src="22157628_m.jpg"></div>
        </div>